*
{
    font-family: 'Righteous', cursive;
    margin: 0;
}
body
{
    background-color: #C5FCEF;
}
.jumbotron
{
    background-color: black !important;
}
h1
{
    font-family: 'Righteous', cursive;
}
.center
{
    text-align: center;
    color: black;
    
}
ol li
{
    color: black !important;
}
.jumbotron
{
    margin-top: 4vh !important;
}
.articleText h1
{
    background-color:#007BA9 ;
    width: 54%;
    margin: 0 auto;
    border-radius: 4vh;
    border: 5px solid black;
    box-shadow: black 2px 5px 2px;
}
.articleText p,ol
{
    margin-top: 1vh;
    margin-left: 3.5vh;
    background-color: white;
    border: 5px solid black;
    box-shadow: black 2px 5px 2px;
}
.jumbotron .center
{
    text-align: center;
    color: #007BA9;
}
p:hover
{
    animation: hover 0.8s;
}
h1:hover
{
    animation: hover 0.8s ;
}
ol:hover
{
    animation: hover 0.8s ;
}
.pd
{
    padding-left: 3vh;
    color:black;
}
.d
{
    margin-right: 0 !important;
}
.video
{
    background-color: black;
    border:black 10px solid;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    box-shadow: black 2px 5px 2px;
    margin-top: 10vh;
}
iframe
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
ol
{
    list-style-type: decimal !important;
}
ol li
{
    list-style-type: decimal !important;
}
.article
{
    
    
}
.back
{
    
background:url("../img/back.png");
  position: relative;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.isto
{
    position: relative;
    top: 37vh;
    animation:vitaj 4s infinite;
    background-color: #360D29 !important;
    width: 25%;
    margin: 0 auto;
    border-radius: 20vh;
}
.aplet
{
    height: 500px;
    width: 400px;
}
@keyframes vitaj
{
    0%{opacity: 0.7;}
    50%{opacity: 0.9;}
    100%{opacity: 0.7;}
}
@keyframes hover
{
    0%{opacity: 1;}
    50%{opacity: 0.6;}
    100%{opacity: 1;}
}
.footer
{
    background-color: #360D29;
    color:white;
    height: 13vh;
    margin-top: 3vh;

}
.footerText
{
    position: relative;
    top: 5vh;
}
.footer p
{
    margin: 1px !important;
}
.footer p:last-child
{
    margin-bottom: 0;
}
#video2
{
    margin-left: 3vh;
}
.magTop
{
    margin-top: 3vh;
}