*
{
    font-family: 'Righteous', cursive;
    margin: 0;
}

    
body
{
    background-color: #2A272A;
}
.jumbotron
{
    background-color: black !important;
}
h1
{
    font-family: 'Righteous', cursive;
}
.center
{
    text-align: center;
    color: white;
    
}
ol li
{
    color: white !important;
}
.jumbotron
{
    margin-top: 4vh !important;
}
.articleText h1
{
    background-color:black ;
    width: 54%;
    margin: 0 auto;
    border-radius: 4vh;
    border: 5px solid black;
    box-shadow: black 2px 6px 2px;
}
.articleText p,ol
{
    margin-top: 1vh;
    margin-left: 3.5vh;
    background-color: #4B4A54;
    box-shadow: black 2px 5px 2px;
    border-radius: 2vh;
    padding: 1vh;
}
.jumbotron .center
{
    text-align: center;
    color: white;
}
p:hover
{
    animation: hover 0.8s;
}
h1:hover
{
    animation: hover 0.8s ;
}
ol:hover
{
    animation: hover 0.8s ;
}
.pd
{
    padding-left: 3vh;
    color:white;
}
.d
{
    margin-right: 0 !important;
}
.video
{
    background-color: black;
    border:black 10px solid;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    box-shadow: black 2px 5px 2px;

    border-radius: 2vh;
}
strong
{
    color: black;
}
iframe
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
ol
{
    list-style-type: decimal !important;
    padding-left: 4vh;
}
ol li
{
    list-style-type: decimal !important;
}
.article
{
    
    
}
.back
{
    
background:url("../img/back.jpg");
  position: relative;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.isto
{
    position: relative;
    top: 37vh;
    animation:vitaj 4s infinite;
    background-color: black !important;
    width: 25%;
    margin: 0 auto;
    border-radius: 20vh;
}
.a
{
    background-color: black;
    border-radius: 1vh;
    color: white;
    padding: 0.5vh;
    transition: .5s;
}
a:hover
{
    color: gray;
    transition: .5s;
}
#buton button
{
    background-color: transparent;
    border: none;
    transition: .5s;
}
#buton button:hover
{
    background-color: transparent;
    border: none;
    color: gray;
    transition: .5s;
}
#buton a
{
   position: relative;
   top: 1.3vh;
   color: white;
   transition: .5s;
}
#buton a:hover
{
    text-decoration: none;
    color: gray;
    transition: .5s;
}
.buton
{
    background-color: black;
    opacity: 0.8;
    transition: .5s;
}
.buton:hover
{
    transition: .5s;
    background-color: gray;
}
.isto2
{
    position: relative;
    top: 50vh;
    width: 13%;
    height: 6vh;
    margin: 0 auto;
    border-radius: 15vh;
}
.aplet
{
    height: 500px;
    width: 400px;
}
@keyframes vitaj
{
    0%{opacity: 0.7;}
    50%{opacity: 0.9;}
    100%{opacity: 0.7;}
}
@keyframes hover
{
    0%{opacity: 1;}
    50%{opacity: 0.6;}
    100%{opacity: 1;}
}
.footer
{
    background-color: black;
    color:white;
    height: 13vh;
    margin-top: 3vh;

}
.footerText
{
    position: relative;
    top: 5vh;
}
.footer p
{
    margin: 1px !important;
}
.footer p:last-child
{
    margin-bottom: 0;
}
#video2
{
    margin-left: 3vh;
}
.magTop
{
    margin-top: 3vh;
}